{% extends "base.html" %} {% block title %} Coding market {% endblock %} {%
block content %}
<div
  class="position-relative overflow-hidden text-center wel"
  style="color: #658864"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="display-4 font-weight-bold mb-3 mt-5">
          Welcome to the Market!
        </h1>
        <p class="lead mb-5">
          Start browsing our products and services by clicking the link below
        </p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('market_page') }}"
          >Explore Market</a
        >
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="card">
          <img
            class="card-img-top product"
            src="./static/img/airpods.jpeg"
            alt="airpods"
          />
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Earphone</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              vitae risus at nunc molestie semper. Sed sit amet sapien nec nisl
              interdum lobortis. Duis a mi nec orci fringilla lobortis non non
              ex.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img
            class="card-img-top product"
            src="./static/img/watch.jpeg"
            alt="watch"
          />
          <div class="card-body">
            <h5 class="card-title font-weight-bold">watch</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              vitae risus at nunc molestie semper. Sed sit amet sapien nec nisl
              interdum lobortis. Duis a mi nec orci fringilla lobortis non non
              ex.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img
            class="card-img-top product"
            src="./static/img/mouse.jpeg"
            alt="mouse"
          />
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Mouse</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              vitae risus at nunc molestie semper. Sed sit amet sapien nec nisl
              interdum lobortis. Duis a mi nec orci fringilla lobortis non non
              ex.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
